// OVERRIDE
$primary: #0683f9;
$default: #e5e5e5;
$primary-light: #f1f5f899;
$secondary-light: #baddf9;

$primary-states: rgb(5, 116, 219);

$background-gray: #f3f4f5;
$background-light: #fbfcfd;

$color-facebook: #3a559f;
$color-github: #292929;
$color-npm: #cb3837;
$color-discord: #7289da;
$color-twitter: #1da1f2;

$brand-colors: (
  facebook: #3b5998,
  twitter: #1da1f2,
  linkedin: #0077b5,
  reddit: #ff4500,
);
