// OVERRIDE
$primary:       #0683F9;
$default:       #E5E5E5;
$primary-light: #f1f5f899;

$primary-states: rgb(5, 116, 219);

$background-gray: #f3f4f5;
$background-light: #fbfcfd;

$color-facebook: #3a559f;
$color-github: #292929;
$color-npm: #cb3837;
$color-gitter: rgb(210, 31, 77);