.page-header-compact {
    min-height: 500px;
    max-height: 400px;
}

.page-header-compact-min {
    min-height: 200px;
    max-height: 150px;
}

.layout-main-wrapper {
    min-height: 100px;
}

.firstLevel > ul {
    padding-left: 0 !important;
}

.nav-docs-item.active {
    color: #fb6340;
    & a h4 {
        color: #fb6340;
    }
}

// [id]::before {
//     content: '';
//     display: block;
//     position: absolute;
//     height:      85px;
//     margin-top: -85px;
//     visibility: hidden;
// }

@media (min-width: 576px) {  }


@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .single-feature:nth-child(even) {
        .single-feature-col-img {
            order: 12;
        }
        .single-feature-col-gap {
            order: 6
        }
        .feature-description {
            h3{
                text-align: right;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }