:root {
    --green-light: #75B392;
    --green-primary: #107C41;
    --green-secondary: #00632E;
    --white-primary: #ffffff;
    --white-secondary: #CFE5D9;
    --white-secondary2: #D2D2D2;
    --white-secondary3: #A6A6A6;
    --black-primary: #050404;
    --black-secondary: #4D4D4D;
    --black-secondary2: #797979;
    --black-footer: #202020;
}

.react-grid-sample {
    background: linear-gradient(to bottom, #107C41 50%, #ffffff 50%);
}